@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600&display=swap");

:root {
  --bs-font-sans-serif: "Vazirmatn", sans-serif;
  --bs-font-monospace: "Vazirmatn", sans-serif, monospace;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #4b566b;
  --bs-body-bg: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
 
}